<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PresentationLayer.Properties.Settings.CoffeeShopConnectionString"
            connectionString="Data Source=ZY-COM;Initial Catalog=CoffeeShop;Integrated Security=True;TrustServerCertificate=True"
            providerName="Microsoft.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>